Price Tracker Básico (3).json
{
  "name": "Price Tracker Básico",
  "nodes": [
    {
      "parameters": {
        "tableId": "price_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $json.product_id }}"
            },
            {
              "fieldId": "site_name",
              "fieldValue": "={{ $json.site_name }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.price }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $json.currency }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "availability",
              "fieldValue": "={{ $json.availability }}"
            }
          ]
        }
      },
      "id": "a12eab7e-5341-4832-b41e-68274add15fc",
      "name": "Guardar en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "KDbaN8uk8riGr7vu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [\n  { id: '744b60c3-d674-45a5-9936-4a3e25d56ced', product: 'iPhone 15' },\n  { id: '57a78305-b58f-4e83-b9ff-6ed44cf2698a', product: 'PlayStation 5' }\n];"
      },
      "id": "ea2a5bad-db11-4272-9ff7-bb9dc8507ad3",
      "name": "Lista Productos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "65cc7ee5-5fef-42cd-af01-25e0b50f9809",
      "name": "Iterar Productos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        432,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "8674be04-dc0a-4afe-898f-6c68ffa22fa6",
      "name": "Scraping Amazon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        624,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-check",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        160
      ],
      "id": "ed57904e-41bd-4844-9ffb-7dd71c1292f1",
      "name": "Webhook",
      "webhookId": "be342512-39f1-4224-b4c2-25c9aacaa14e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        208
      ],
      "id": "4aefe379-1d99-47cc-affd-c7c701ed6a7b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1024,
        208
      ],
      "id": "e80c9d3b-9c93-4610-a40d-785cb337c15c"
    },
    {
      "parameters": {
        "url": "https://fjuafvxgkxkllpytclsf.supabase.co/rest/v1/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{'eq.' + $json[0].title}}\n"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqdWFmdnhna3hrbGxweXRjbHNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NTg4OTksImV4cCI6MjA3NzIzNDg5OX0.w9kgxV4PZQy13Sdds8NeAmo4mniMwUdHv0u6hZOyxr4"
            },
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqdWFmdnhna3hrbGxweXRjbHNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NTg4OTksImV4cCI6MjA3NzIzNDg5OX0.w9kgxV4PZQy13Sdds8NeAmo4mniMwUdHv0u6hZOyxr4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        224
      ],
      "id": "6fcd60e4-af0a-4815-a7d9-306728e48157",
      "name": "Check Product Exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0b6d6a3-8025-446c-b6df-8993c467abc0",
              "leftValue": "={{$json[\"title\"] !== undefined && $json[\"title\"] !== \"\"}}",
              "rightValue": "0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        64
      ],
      "id": "4e204a22-442d-4879-874b-bbad2b88bb47",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alejandroalejandros.app.n8n.cloud/webhook/price-check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Edit Fields').item.json['\\'0\\''].titl }}{{ $('Edit Fields').item.json['\\'0\\''].pric }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -80
      ],
      "id": "e7a82946-f38e-4a41-941c-a5a6a5ee8085",
      "name": "Create product1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alejandroalejandros.app.n8n.cloud/webhook/price-check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"={{$json['title']}}\",\n  \"sku\": \"={{$json['id']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        208
      ],
      "id": "e320175f-4352-45e3-9d92-60c0fdd461c6",
      "name": "Create product"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3315e49a-0961-4006-8d2e-c6f54aac3c2a",
              "name": "'0'].titl",
              "value": "={{ $('Replace Me').item.json['0'].title }}",
              "type": "string"
            },
            {
              "id": "b042aa93-a714-43d7-99a7-8dfaa51b7135",
              "name": "'0'].pric",
              "value": "={{ $('Replace Me').item.json['0'].price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        64
      ],
      "id": "54a57cf8-7925-4b33-9f69-273cd289b747",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "alejandroalejandros.app.n8n.cloud",
            "user-agent": "python-requests/2.31.0",
            "content-length": "56",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "190.232.201.74",
            "cf-ew-via": "15",
            "cf-ipcountry": "PE",
            "cf-ray": "995e36e9f6f001d3-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "190.232.201.74, 172.71.11.76",
            "x-forwarded-host": "alejandroalejandros.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-68-6dfc679bd7-hj6fn",
            "x-is-trusted": "yes",
            "x-real-ip": "190.232.201.74"
          },
          "params": {},
          "query": {},
          "body": {
            "product": "carro azul",
            "product_id": null,
            "url": ""
          },
          "webhookUrl": "https://alejandroalejandros.app.n8n.cloud/webhook/price-check",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Lista Productos": {
      "main": [
        [
          {
            "node": "Iterar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar Productos": {
      "main": [
        [
          {
            "node": "Scraping Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraping Amazon": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Lista Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Product Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Product Exists": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create product1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create product1": {
      "main": [
        [
          {
            "node": "Guardar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create product": {
      "main": [
        [
          {
            "node": "Guardar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64c39883-b225-4b5c-8dbc-43802e9e30e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cabc8eeb5528ea90cb447a5b283d2c86bc450753a45be912e150075617fb5687"
  },
  "id": "4IBJZDZc4ir7cehh",
  "tags": []
}